body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
}



table,tr,td,th{
     border: 0.06rem solid rgb(8, 8, 8);
border-collapse: collapse;
}

.nav-link {
  color: black;
  text-decoration: none;
  margin: 1rem;
}


.nav-link:hover {
  color: blue;
  text-decoration: underline;
}

#services-list li {
  padding: 1rem;
  margin: 1rem 0;
  transition: 0.3s;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

#services-list li:hover {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

header {
  background-color: #222;
  color: white;
  padding: 1rem;
  text-align: center;
}
.nav-link {
  transition: 0.3s;
}

.nav-link:hover {
  color: #00bfff;
  transform: scale(1.1);
}